.latest-issues-wrapper {
    display: grid;
    justify-content: start;
    grid-auto-flow: column;
    grid-auto-columns: auto;
    gap: 2rem;
    overflow-x: scroll;
    scrollbar-width: none;
    scroll-snap-type: x mandatory;
    scroll-behavior: smooth;
    margin: 3% 0;
    border-radius: .25rem;
    padding: .1rem 0;
    position: relative;
}
.latest-issues-wrapper::-webkit-scrollbar {
    width: 0px;
    height: 0px;
}
.latest-issues-wrapper .issue {
    width: 50vw;
    min-width: 17rem;
    max-width: 18rem;
    scroll-snap-align: center;
    background-image: linear-gradient(to right, var(--secondary-color), var(--tertiary-color));
    background-size: 200%;
}
.latest-issues-wrapper .issue:hover {
    translate: none;
    scale: none;
}