#website-page {
    min-height: 125vh;
    padding: 0 0 2rem;
}
#website-page header {
    all: unset;
    display: grid;
    grid-auto-flow: column;
    justify-content: flex-start;
    align-content: flex-end;
    grid-template-rows: 100%;
    position: relative;
    max-height: 6rem; 
    gap: 2.5rem;
    /* background-color: black; */
    background-image: linear-gradient(to bottom right, var(--primary-color), var(--secondary-color));
    border-radius: 1rem;
    border-radius: .5rem;
}
#website-page .website-image-wrapper {
    position: relative;
    align-self: flex-end;
    width: 11rem;
    height: 11rem;
    border: 3px solid transparent;
}
#website-page .website-details-wrapper {
    display: flex;
    align-items: center;
    align-self: flex-end;
    gap: 3rem;
    height: 6rem;
    /* padding: 0 0 1.5rem; */
}
#website-page header .website-name {
    font-weight: 700;
    font-size: clamp(1.1rem, 2vw, 1.6rem);
    word-wrap: break-word;
}
.detail {
    display: flex;
    flex-direction: column;
    align-items: center;
}
.detail-value {
    font-size: clamp(1.25rem, 2vw, 1.75rem);
}
.detail-name {
    font-size: clamp(.75rem, 1.25vw, 1.25rem);
}
#website-page .open-tooltip-button {
    position: absolute;
    right: 2rem;
    top: 50%;
    translate: 50% -50%;
}
.admins-tooltip {
    display: flex;
    flex-direction: column;
    gap: .5rem;
    opacity: 0;
    pointer-events: none;
    background-image: linear-gradient(to bottom right, black, black);
    padding: 1rem .5rem;
    min-width: 13rem;
    border-radius: 0 0 .5rem .5rem;
    position: absolute;
    right: 0;
    z-index: 10;
    top: 80%;
}
.admins-tooltip.visible {
    opacity: 1;
    pointer-events: all;
}
.admins-wrapper {
    display: flex;
    flex-direction: column;
    gap: .25rem;
    max-height: 13rem;
    overflow-y: scroll;
    overflow-x: hidden;
    scrollbar-width: thin;
    scrollbar-color: rgb(56, 56, 56) black;
}
.admins-wrapper::-webkit-scrollbar {
    width: .5rem;
}
.admins-wrapper::-webkit-scrollbar-track {
  background-color: black;
}
.admins-wrapper::-webkit-scrollbar-thumb {
  background-color: rgb(56, 56, 56);
}
.save-button {
    display: flex;
    align-items: center;
    justify-content: center;
    border-radius: .25rem;
    width: 100%;
    height: 100%;
    transition: .2s cubic-bezier(0.5,-0.21, 0.55, 1.44);
    position: relative;
    border: none;
    cursor: pointer;
    font-weight: 500;
    font-size: 1.1rem;
    color: var(--primary-color);
    padding: .5rem 0;
}
.save-button svg {
    width: 2.5rem;
}
.admins-tooltip .input-wrapper {
    display: flex;
    align-items: center;
    justify-content: center;
} 
.admins-tooltip .input-wrapper input {
    width: 100%;
}
#website-page .users-wrapper {
    border-radius: 0 0 .5rem .5rem;
    bottom: initial;
    top: 92%;
    left: 50%;
    translate: -50%;
    width: 14rem;
}
#website-page .website-info-section {
    margin: 2.5rem 0 0;
    position: relative;
    display: grid;
    grid-template-columns: 7.5fr 2.5fr;
    align-items: flex-start;
    gap: 2rem;
}
#website-page .website-description .website-domains-section {
    display: flex;
    gap: 1rem;
}
#website-page .website-description .website-domains-wrapper {
    display: grid;
    /* grid-template-columns: repeat(4, 1fr); */
    grid-template-columns: repeat(3, minmax(auto, 8rem));
    justify-content: flex-start;
    align-items: center;
    justify-items: center;
    gap: 1rem; 
}
#website-page .website-description .domain {
    /* justify-self: flex-start; */
    width: 100%;
    padding: 0;
}
#website-page .website-description {
    position: relative;
    display: flex;
    flex-direction: column;
    gap: 1rem;
    overflow: hidden;
    max-height: 12.25rem;
    background-image: linear-gradient(to right, var(--primary-color), var(--secondary-color));
    border-radius: .5rem;
    padding: 1.25rem;
    transition: .1s linear;
}
#website-page .website-description.show-full-description {
    max-height: 100%;
}
#website-page .website-description::after {
    content: '';
    width: 100%;
    position: absolute;
    bottom: 0;
    left: 0;
    height: 1rem;
    background-image: linear-gradient(to right, var(--primary-color), var(--secondary-color));
}
#website-page .website-description.show-full-description::after {
    opacity: 0;
    pointer-events: none;
}
#website-page .website-description .show-more-button {
    position: absolute;
    right: 2%;
    bottom: 2%;
}
#website-page .website-description .show-more-button.hidden {
    opacity: 0;
    pointer-events: none;
}
#website-page .website-issues-chart-wrapper {
    background-image: linear-gradient(to bottom right, var(--primary-color), var(--secondary-color));
    border-radius: .5rem;
    padding: .75rem;
    grid-column-start: 2;
    grid-column-end: 3;
}
#website-page .website-issues-chart-wrapper canvas {
    width: 100%;
    height: 12.5rem;
}
#website-page .issues-grid-wrapper {
    grid-column-start: 1;
    grid-column-end: 3;
}
#website-page .issues-grid-wrapper, #website-page .loader-wrapper {
    margin: 6.5rem 0 0;
}


@media screen and (max-width: 800px) {
    #website-page .website-info-section {
        grid-template-columns: initial;
        gap: 2rem;
    }
    #website-page .website-issues-chart-wrapper {
        grid-column-start: initial;
        grid-column-end: initial;    
    }
    #website-page .issues-grid-wrapper {
        grid-column-start: initial;
        grid-column-end: initial;
    }
    #website-page .website-description {
        padding: 1.25rem 1.25rem 1.75rem;
    }
}

@media screen and (max-width: 600px) {
    #website-page header {
        max-height: 5rem; 
        gap: 1rem;
    }
    #website-page .website-details-wrapper {
        gap: 2rem;
        height: 5rem;
        /* padding: 0 0 1rem; */
    }
    #website-page .website-image-wrapper {
        width: 8rem;
        height: 8rem;
    }
    #website-page header .header-skeleton {
        margin: 0 0 1.25rem;
    }
    /* .detail-value {
        font-size: 1.5rem;
    } */
    #website-page header .header-skeleton {
        margin: 0 0 .25rem;
    }
    #website-page .issues-grid-wrapper, #website-page .loader-wrapper {
        margin: 9rem 0 0;
    }
}