.companies-grid {
    display: grid;
    grid-template-columns: repeat(auto-fill, minmax(12rem, 1fr));
    grid-auto-rows: 12rem;
    gap: 1.6rem;
    min-height: 15rem;
}
#website-list-page h2 {
    text-align: center;
    margin: 3% 0;
    font-size: 1.4rem;
}