footer.hide-nav {
    display: none;
}
footer {
    position: fixed;
    bottom: 0;
    width: 100%;
    display: flex;
    align-items: center;
    justify-content: space-around;
    background-image: linear-gradient(to right, var(--secondary-color), var(--tertiary-color));
    /* background-size: 200%; */
    padding: .75rem 0;
    display: none;
}
footer.hidden {
    display: none;
}
footer .navigation-link svg {
    width: 2rem;
}

@media screen and (max-width: 800px) {
    main {
        padding: 0 0 4rem;
    }
    footer {
        display: flex;
    }
}