.issue {
    display: flex;
    flex-direction: column;
    position: relative;
    gap: 1rem;
    width: 100%; 
    max-width: 42rem;
    border-radius: .5rem;
    padding: 1.25rem;
    background-image: linear-gradient(to bottom right, var(--primary-color), var(--secondary-color));
    background-size: 200%;
}
.issue:hover {
    translate: none;
    scale: none;
}
.issue a {
    width: min-content;
    text-decoration: none;
}
.issue .website-link {
    font-weight: 700;
    font-size: 1rem;
}
.issue header {
    all: unset;
    display: flex;
    align-items: center;
    justify-content: space-between;
}
.issue .issue-name {
    max-width: 60%;
    word-wrap: break-word;
    font-size: clamp(1.05rem, 2vw, 1.25rem);
}
#issue-list-page .issue .issue-name {
    display: none;
}
.issue .issue-name-truncated {
    display: none;
    max-width: 60%;
    word-wrap: break-word;
    font-size: clamp(1.05rem, 2vw, 1.25rem);
} 
#issue-list-page .issue .issue-name-truncated {
    display: initial;
}
.issue .user {
    all: unset;
    display: flex;
    align-items: center;
    gap: .75rem;
    border-radius: .75rem;
    padding: .25rem .25rem;
    cursor: pointer;
    transition: .2s;
}
.issue .user:hover {
    background-color: var(--secondary-color);
}
.issue .issue-creator {
    font-size: 1rem;
    font-weight: 500;
    position: initial;
}
.issue .profile-picture-wrapper {
    display: flex;
    align-items: center;
    justify-content: center;
    width: 2.25rem;
    height: 2.25rem;
    border-radius: 10rem;
    overflow: hidden;
    border: 2px solid transparent;
}
.issue .profile-picture {
    display: flex;
    align-items: center;
    justify-content: center;
    font-size: .85rem;
}
.issue-screenshots-wrapper {
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    grid-template-rows: repeat(2, 1fr);
    border-radius: .5rem;
    height: 22rem;
    gap: .4rem;
    overflow: hidden;
    /* animation: fade-up .3s ease-in-out 1 forwards; */
}
.issue-screenshots-wrapper.one-screenshot {
    grid-template-columns: 1fr;
    grid-template-rows: 1fr;
}
#issue-list-page .issue-screenshots-wrapper.one-screenshot {
    grid-template-columns: 1fr;
    grid-template-rows: 1fr;
}
.issue-screenshots-wrapper.two-screenshots, #issue-list-page .issue-screenshots-wrapper.two-screenshots {
    grid-template-rows: 1fr;
}
.issue-screenshots-wrapper.three-screenshots .issue-screenshot-wrapper:first-child, #issue-screenshots-wrapper .issue-screenshots-wrapper.three-screenshots .issue-screenshot-wrapper:first-child {
    grid-column-start: 1;
    grid-column-end: 2;
    grid-row-start: 1;
    grid-row-end: 3;
}
#issue-list-page .issue-screenshots-wrapper {
    border-radius: .3rem;
    height: 12rem;
}
.issue-screenshot-wrapper {
    width: 100%;
    display: flex;
    align-items: center;
    justify-content: center;
    position: relative;
    /* border-radius: .5rem; */
    overflow: hidden;
    background-image: linear-gradient(to right, var(--secondary-color), var(--tertiary-color));
}
#issue-list-page .issue-screenshots-wrapper {
    grid-template-rows: repeat(2, 6rem);
}
.issue-screenshot-wrapper .issue-screenshot {
    display: flex;
    align-items: center;
    justify-content: center;
    height: 100%;
    width: 100%; 
    object-fit: cover;
}
#issue-page .issue-screenshot {
    cursor: pointer;
}
#issue-page .issue .screenshot-download-button {
    display: initial;
}
/* .screenshot-download-button {
    display: none;
    position: absolute;
    right: 1rem;
    bottom: 1rem;
    padding: .5rem .75rem;
    background-color: var(--secondary-color);
    background-color: rgba(0, 0, 0, 0.75);
    border-radius: .5rem;
} */
.issue-info {
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    gap: .75rem;
}
.issue-link {
    font-weight: 500;
}
.issue-status {
    cursor: pointer;
}
.issue-status span.resolved {
    color: rgb(0, 128, 28);
}
.issue-status span.pending {
    color: rgb(0, 107, 128);
}
.issue-description {
    /* display: block; */
    font-weight: 500;
}
#issue-list-page .issue .issue-description {
    display: none;
}
.issue .issue-description-truncated {
    display: none;
} 
#issue-list-page .issue .issue-description-truncated {
    display: initial;
}
.issue-name:focus, .issue-link:focus, .issue-description:focus {
    border-radius: .15rem;
    outline: 1px solid var(--primary-cta-color);
    caret-color: white;
}
.edit-buttons-wrapper {
    margin: 1rem 0 0;
    display: flex;
    align-items: center;
    justify-content: center;
    gap: 2rem;
}
.edit-button {
    border: none;
    font-size: 1rem;
    cursor: pointer;
}
.tooltip-section {
    display: flex;
    align-items: center;
    justify-content: center;
    position: relative;
}
.issue-tooltip {
    display: flex;
    /* gap: 2rem; */
    justify-content: space-between;
    align-items: center;
    padding: 1rem;
    border-radius: .5rem;
    bottom: 125%;
    left: 50%;
    min-width: 13.5rem;
    /* background-image: linear-gradient(to right, var(--secondary-color), var(--tertiary-color)); */
    background-color: var(--tertiary-color);
    position: absolute;
    opacity: 0;
    pointer-events: none;
    translate: -50% 25%;
}
.issue-tooltip.visible {
    opacity: 1;
    pointer-events: all;
    translate: -50% 0%;
}
.delete-issue-modal-wrapper {
    position: fixed;
    display: flex;
    align-items: center;
    justify-content: center;
    width: 100vw;
    height: 100vh;
    background-color: rgba(0, 0, 0, 0.8);
    opacity: 0;
    pointer-events: none;
    top: 0;
    left: 0;
    border: none;
}
.delete-issue-modal {
    display: flex;
    flex-direction: column;
    text-align: center;
    padding: 1rem;
    gap: 2rem;
    width: 90%;
    max-width: 35rem;
    background-image: linear-gradient(to bottom right, var(--primary-color), var(--secondary-color));
    border-radius: .5rem;
    z-index: 10;
}
.delete-issue-modal-wrapper.visible {
    opacity: 1;
    pointer-events: all;
}
.delete-issue-modal .modal-buttons-section {
    display: flex;
    align-items: center;
    justify-content: center;
    gap: 2rem;
}
.issue-time {
    position: absolute;
    right: 1.25rem;
    bottom: 1.25rem;
    font-size: .65rem;
}

@media screen and (max-width: 400px) {
    .issue-time {
        right: .75rem;
        bottom: .75rem;
        font-size: .5rem;
    }
}