/* {
    display: flex;
    align-items: center;
    justify-content: center;
    min-height: 80vh;
    padding: 0 0 1rem;
} */
.issue{
    display: flex;
    flex-direction: column;
    gap: 1rem;
    width: 100%; 
    max-width: 42rem;
    border-radius: .75rem;
    padding: 1.5rem;
    background-image: linear-gradient(to right, var(--secondary-color), var(--tertiary-color));
    background-size: 200%;
}
.issue:hover {
    translate: none;
    scale: none;
}
.issue header {
    all: unset;
    display: flex;
    align-items: center;
    justify-content: space-between;
}
.issue .issue-name {
    max-width: 40%;
    word-wrap: break-word;
}
.user {
    all: unset;
    display: flex;
    align-items: center;
    gap: .75rem;
}
.issue-creator:hover {
    scale: 1.05;
}
.profile-picture-wrapper {
    display: flex;
    align-items: center;
    justify-content: center;
    width: 2.5rem;
    height: 2.5rem;
    border-radius: 10rem;
    overflow: hidden;
    border: 2px solid transparent;
}
.profile-picture {
    width: 100%;
    height: 100%;
    object-fit: cover;
}
.issue-creator {
    position: initial;
}
.issue-screenshot-wrapper, .issue-screenshot {
    width: 100%;
    object-fit: contain;
}
.issue-screenshot-wrapper {
    display: flex;
    align-items: center;
    justify-content: center;
    border-radius: .5rem;
    overflow: hidden;
}
.issue-link {
    font-weight: 500;
}
.issue-status {
    cursor: pointer;
}
.issue-status span.resolved {
    color: rgb(0, 128, 28);
}
.issue-status span.pending {
    color: rgb(0, 107, 128);
}
.issue-description {
    font-weight: 500;
}
.edit-buttons-wrapper {
    margin: 1rem 0 0;
    display: flex;
    align-items: center;
    justify-content: center;
    gap: 2rem;
}
.edit-button {
    border: none;
    font-size: 1rem;
    cursor: pointer;
}
*:focus:not(button){
    border-radius: .15rem;
    outline: 1px solid var(--primary-cta-color);
}
.tooltip-section {
    display: flex;
    align-items: center;
    justify-content: center;
    position: relative;
}
.issue-tooltip {
    display: flex;
    gap: 2rem;
    align-items: center;
    padding: 1rem;
    border-radius: .5rem;
    bottom: 125%;
    left: 50%;
    background-image: linear-gradient(to bottom right, var(--primary-color), var(--secondary-color));
    position: absolute;
    opacity: 0;
    pointer-events: none;
    translate: -50% 25%;
}
.issue-tooltip.visible {
    opacity: 1;
    pointer-events: all;
    translate: -50% 0%;
}
.delete-issue-modal {
    display: flex;
    flex-direction: column;
    position: fixed;
    text-align: center;
    box-shadow: 0 0 10rem black;
    padding: 1rem;
    gap: 2rem;
    top: 50%;
    left: 50%;
    width: 90%;
    max-width: 35rem;
    background-image: linear-gradient(to bottom right, var(--primary-color), var(--secondary-color));
    border-radius: .5rem;
    opacity: 0;
    pointer-events: none;
    translate: -50% 25%;
    z-index: 10;
}
.delete-issue-modal.visible {
    opacity: 1;
    pointer-events: all;
    translate: -50% -50%;
}
.delete-issue-modal .modal-buttons-section {
    display: flex;
    align-items: center;
    justify-content: center;
    gap: 2rem;
}