@keyframes animated-background {
    0% {
        background-position: 0%;
    }
    50% {
        background-position: 100%;
    }
    100% {
        background-position: 0%;
    }

    /* 0% {
        background-position: 0%;
    }
    100% {
        background-position: 100%;
    } */
}
.header-skeleton {
    width: 25%;
    height: 2.5rem;
    min-width: 5rem;
    max-width: 10rem;
    background-color: var(--tertiary-color);
    border-radius: .25rem;
}
.short-text-skeleton {
    width: 25%;
    height: 1.5rem;
    min-width: 5rem;
    max-width: 10rem;
    background-color: var(--tertiary-color);
    border-radius: .25rem;
}
.mid-length-text-skeleton {
    width: 50%;
    height: 1.5rem;
    min-width: 10rem;
    max-width: 20rem;
    background-color: var(--tertiary-color);
    border-radius: .25rem;
}
.long-text-skeleton {
    width: 80%;
    height: 1.5rem;
    min-width: 15rem;
    max-width: 25rem;
    background-color: var(--tertiary-color);
    border-radius: .25rem;
}
.paragraph-skeleton {
    display: flex;
    flex-direction: column;
    gap: 1rem;
}
.image-skeleton {
    width: 100%;
    aspect-ratio: 1/1.2;
    animation: animated-background 10s linear infinite forwards;
    border: 1px solid rgba(255, 255, 255, 0.1);
    background-image: linear-gradient(to right, var(--secondary-color), var(--tertiary-color));
    background-size: 200%;
    border-radius: .5rem;
}
.profile-picture-skeleton {
    width: 11vw;
    height: 11vw;
    max-width: 10rem;
    max-height: 10rem;
    border-radius: 10rem;
    position: relative;
    display: flex;
    align-items: center;
    justify-content: center;
    overflow: hidden; 
    background: linear-gradient(to right, var(--secondary-color), var(--tertiary-color)) padding-box,
                linear-gradient(45deg, var(--secondary-cta-color), var(--primary-cta-color)) border-box;
    background-size: 200%;
    border: .3rem solid transparent;
    translate: -5% 0;
    animation: animated-background 10s linear infinite forwards;
}
.username-skeleton {
    background-size: 200%;
    background-image: linear-gradient(to right, var(--secondary-color), var(--tertiary-color));
    height: 1.75rem;
    border-radius: .25rem;
    animation: animated-background 10s linear infinite forwards;
}
.issue-item-skeleton {
    width: 50vw;
    min-width: 17rem;
    max-width: 18rem;
    scroll-snap-align: center;
    background-color: var(--tertiary-color);
    border: 1px solid rgba(255, 255, 255, 0.1);
    /* background: linear-gradient(to right, var(--secondary-color), var(--tertiary-color)) padding-box,
    linear-gradient(45deg, var(--secondary-cta-color), var(--primary-cta-color)) border-box; */
    background-image: linear-gradient(to right, var(--secondary-color), var(--tertiary-color));
    background-size: 200%;
    border-radius: .5rem;
    /* height: 10rem; */
    height: 110px;
    animation: animated-background 3s linear infinite forwards;
}
.issue-skeleton {
    display: flex;
    flex-direction: column;
    gap: 1rem;
    width: 100%; 
    max-width: 42rem;
    border-radius: .5rem;
    padding: 2rem 1.5rem;
    background-image: linear-gradient(to right, var(--primary-color), var(--secondary-color));
    background-size: 200%;
}
.website-item-skeleton {
    width: 100%;
    height: 100%;
    background-color: var(--tertiary-color);
    border: 1px solid rgba(255, 255, 255, 0.1);
    background-image: linear-gradient(to right, var(--secondary-color), var(--tertiary-color));
    background-size: 200%;
    border-radius: .5rem;
    animation: animated-background 3s linear infinite forwards;
}