@keyframes animated-background {
    /* 0% {
        background-position: 0%;
    }
    50% {
        background-position: 100%;
    }
    100% {
        background-position: 0%;
    } */
    0% {
        background-position: 0%;
    }
    100% {
        background-position: 100%;
    }
}
.profile-picture-skeleton {
    width: 11vw;
    height: 11vw;
    border-radius: 10rem;
    position: relative;
    display: flex;
    align-items: center;
    justify-content: center;
    overflow: hidden; 
    background: linear-gradient(to right, var(--secondary-color), var(--tertiary-color)) padding-box,
    linear-gradient(45deg, var(--secondary-cta-color), var(--primary-cta-color)) border-box;
    background-size: 200%;
    border: .3rem solid transparent;
    translate: -5% 0;
    animation: animated-background 10s linear infinite forwards;
}
.username-skeleton {
    background-size: 200%;
    background-image: linear-gradient(to right, var(--secondary-color), var(--tertiary-color));
    width: 7rem;
    height: 1.75rem;
    border-radius: .25rem;
    animation: animated-background 10s linear infinite forwards;
}