/* #issue-page .issue, #issue-page .issue * {
    all: unset;
} */

#issue-page {
    display: flex;
    align-items: center;
    justify-content: center;
}
#issue-page .issue{
    display: flex;
    flex-direction: column;
    width: 90%; 
    max-width: 45rem;
    border-radius: 1rem;
    padding: 2rem 1.5rem;
    background-image: linear-gradient(to right, var(--secondary-color), var(--tertiary-color));
    background-size: 200%;
}
#issue-page:before {
    all: unset;
}
#issue-page .issue:hover {
    translate: none;
    scale: none;
}
#issue-page header {
    all: unset;
    display: flex;
    align-items: center;
    justify-content: space-between;
}
#issue-page .user {
    all: unset;
    display: flex;
    align-items: center;
    gap: .75rem;
}
#issue-page .profile-picture-wrapper {
    display: flex;
    align-items: center;
    justify-content: center;
    width: 2.5rem;
    height: 2.5rem;
    border-radius: 10rem;
    overflow: hidden;
    border: 2px solid transparent;
    background: linear-gradient(transparent, transparent) padding-box,
                linear-gradient(to bottom right, var(--secondary-cta-color), var(--primary-cta-color)) border-box;
}
#issue-page .profile-picture {
    width: 100%;
    height: 100%;
    object-fit: cover;
}
#issue-page .issue-creator {
    position: initial;
}
#issue-page .issue-screenshot-wrapper, #issue-page .issue-screenshot {
    width: 100%;
    object-fit: contain;
}
#issue-page .issue-screenshot-wrapper {
    display: flex;
    align-items: center;
    justify-content: center;
    border-radius: .5rem;
    overflow: hidden;
}
#issue-page .issue-description {
    font-weight: 500;
}