#issue-page {
    display: flex;
    align-items: center;
    justify-content: center;
    position: relative;
    min-height: 100vh;
    padding-top: 1.5rem;
    padding-bottom: 1.5rem;
}
.image-lightbox {
    position: absolute;
    top: 0%;
    left: 50%;
    translate: -50% 0;
    min-height: 100vh;
    width: 100vw;
    display: flex;
    align-items: center;
    /* align-items: flex-start; */
    justify-content: center;
    background-color: rgba(0, 0, 0, 0.6);
    /* box-shadow: 0 0 5rem rgba(0, 0, 0); */
    opacity: 0;
    pointer-events: none;
}
.image-lightbox.visible {
    opacity: 1;
    pointer-events: all;
}
.image-lightbox .close-button {
    position: absolute;
    top: 2.5rem;
    right: 1.75rem;
    display: flex;
    align-items: center;
    justify-content: center;
    border: none;
    background-color: transparent;
    width: 3.5rem;
    cursor: pointer;
    z-index: 5;
}
.image-lightbox .close-button svg {
    fill: var(--secondary-cta-color);
}
.image-lightbox img {
    max-height: 90%;
    max-width: 100%;
    width: 100%;
    object-fit: contain;
}