#issue-page {
    display: flex;
    align-items: center;
    justify-content: center;
    position: relative;
    min-height: 100vh;
    padding-top: 1.5rem;
    padding-bottom: 1.5rem;
}
.image-lightbox {
    /* position: absolute; */
    position: fixed;
    /* top: 0%; */
    top: 3.5rem;
    left: 50%;
    translate: -50%;
    /* min-height: 90vh; */
    height: 95vh;
    width: 100vw;
    display: flex;
    align-items: center;
    justify-content: center;
    background-color: rgba(0, 0, 0, 0.6);
    opacity: 0;
    pointer-events: none;
    scale: .95rem;
}
.image-lightbox.visible {
    opacity: 1;
    scale: 1rem;
    pointer-events: all;
}
.image-lightbox .close-button {
    position: absolute;
    top: 2.5rem;
    right: 1.75rem;
    display: flex;
    align-items: center;
    justify-content: center;
    border: none;
    width: 3.25rem;
    cursor: pointer;
    z-index: 5;
    border-radius: .5rem;
    background-color: var(--primary-color);
}
.image-lightbox .close-button svg {
    fill: var(--secondary-cta-color);
}
.image-lightbox img {
    max-height: 90%;
    max-width: 100%;
    width: 100%;
    object-fit: contain;
}
.screenshot-download-button {
    position: absolute;
    right: 5%;
    bottom: 2.5rem;
    padding: .5rem .75rem;
    background-color: rgba(61, 61, 61, 0.75);
    border-radius: .5rem;
    z-index: 10;
    text-decoration: none;
}

@media screen and (max-width: 800px) {
    .image-lightbox {
        height: calc(100vh - 7rem);
    }
    .image-lightbox .close-button {
        width: 2.5rem;
    }
}