:root {
  /* --primary-color: #00cde4; */
  --primary-color: #1d1d1d;
  --secondary-color: #242424;
  --tertiary-color: #363636;
  /* --primary-cta-color: #a3cfcd; */
  --primary-cta-color: #58adc5;
  --secondary-cta-color: #735094;
  --primary-text-color: #5a6496;
  --secondary-text-color: #82a0aa;
}
*, *::before, *::after {
  box-sizing: border-box;
  padding: 0;
  margin: 0;
  font-family: 'Poppins';
  color: var(--primary-text-color);
}
main {
  display: flex;
  flex-direction: column;
  align-items: center;
  min-height: 100vh;
  background-image: radial-gradient(circle, #0f0f0f, #121212, #151515, #181818, #1b1b1b);
  /* background-image: radial-gradient(circle, #0f0f0f, #1a1a1a); */
  /* background-attachment: fixed; */
  overflow: hidden;
}
header {
  max-width: 75rem;
  width: 95%;
  margin: 0 auto;
}
#register-page, #website-list-page, #issue-page, #account-page {
  max-width: 75rem;
  width: 95%;
  margin: 3% 0 0;
}
input, .text-box {
  padding: .5rem 0 .5rem 1rem;
  border-radius: .4rem;
  font-weight: 600;
  background-color: #ecfbff;
  color: var(--primary-text-color);
  border: 3px solid var(--primary-cta-color);
}
input:focus, .text-box:focus {
  outline: none;
  /* border: 3px solid var(--secondary-color); */
  border: 3px solid var(--primary-cta-color);
}
.text-box {
  width: 100%;
  max-width: 50rem;
  resize: none;
  background-color: rgba(0, 0, 0, 0.3);
  min-height: 10rem;
  padding: .5rem 1rem;
}

.cta {
  padding: .5rem 1rem;
  border-radius: .25rem;
  border: none;
  font-weight: 700;
  cursor: pointer;
  position: relative;
  overflow: hidden;
  background: transparent;
  transition: .2s;
}
.cta:hover {
  transition-delay: .225s;
  background-color: var(--secondary-color);
  scale: 1.1;
}
.cta:hover::before, .cta:hover::after {
  width: 100%;
  height: 100%;
  transition-delay: 0s;
}
.cta::before {
  content: '';
  position: absolute;
  width: 25%;
  height: 40%;
  top: 0;
  left: 0;
  border-top: .15rem solid var(--primary-cta-color);
  border-left: .15rem solid var(--primary-cta-color);
  transition: .3s cubic-bezier(.68,-0.55,.27,1.55);
  transition-delay: .25s;
}
.cta::after {
  content: '';
  position: absolute;
  width: 25%;
  height: 40%;
  bottom: 0;
  right: 0;
  border-right: .15rem solid var(--secondary-cta-color);
  border-bottom: .15rem solid var(--secondary-cta-color);
  transition: .3s cubic-bezier(.68,-0.55,.27,1.55);
  transition-delay: .25s;
}
.gradient-text {
  background-image: linear-gradient(to right, var(--secondary-cta-color), var(--primary-cta-color));
  background-clip: text;
  color: transparent;
}