@import url('https://fonts.googleapis.com/css2?family=Inter:wght@100;200;300;400;500;600;700;800;900&display=swap');
:root {
  --primary-color: #1d1d1d;
  --secondary-color: #232728;
  --tertiary-color: #3b3e3e;
  --primary-cta-color: #0026ff;
  --secondary-cta-color: #ff00dd;
  --primary-text-color: #8e94af;
  --secondary-text-color: #717589;
  --cta-text-color: #121516;
}
*, *::before, *::after {
  box-sizing: border-box;
  padding: 0;
  margin: 0;
  font-family: 'Inter';
  color: var(--primary-text-color);
}
html {
  scrollbar-width: thin;
  scrollbar-color: rgb(56, 56, 56) black;
}
html::-webkit-scrollbar {
  width: .5rem;
}
html::-webkit-scrollbar-track {
  background-color: black;
}
html::-webkit-scrollbar-thumb {
  background-color: rgb(56, 56, 56);
}
body {
  /* background-image: radial-gradient(circle, #0f0f0f, #121212, #151515, #181818, #1b1b1b); */
  background-image: radial-gradient(circle at 0 0, #0f0f0f, #121212, #151515, #181818, #1b1b1b);
  overflow-x: hidden;
  color-scheme: dark;
}
main {
  display: flex;
  flex-direction: column;
  align-items: center;
  min-height: 100vh;
  background-attachment: fixed;
  overflow: hidden;
}
#register-page, #home-page, #issue-list-page, #website-page, #new-issue-page, #register-website-page, #issue-page, #account-page {
  max-width: 75rem; 
  /* width: 95%; */
  width: 100%;
  padding-right: 2.5%;
  padding-left: 2.5%;
}
#new-issue-page, #issue-list-page, #account-page {
  padding-top: 3rem;
}
#website-page {
  padding-top: 8rem;
}
input, .text-box {
  padding: .5rem 0 .5rem 1rem;
  font-weight: 600;
  color: var(--primary-text-color);
  background: radial-gradient(circle at 0 0, var(--primary-color), var(--secondary-color)) padding-box,
              linear-gradient(90deg, var(--primary-cta-color), var(--secondary-cta-color)) border-box;
  border: 3px solid transparent;
  background-size: 150% 100%;
  border-radius: .4rem;
  animation: gradient-bg 30s linear infinite forwards;
}
input:focus, .text-box:focus {
  outline: none;
  background-size: 300% 100%;
}
input button {
  padding: .5rem 1rem;
  border-radius: .25rem;
  border: none;
  font-weight: 700;
  cursor: pointer;
  position: relative;
  overflow: hidden;
  background: transparent;
  transition: .2s;
}
.text-box {
  width: 100%;
  max-width: 50rem;
  resize: vertical;
  background-color: rgba(0, 0, 0, 0.3);
  min-height: 10rem;
  padding: .8rem 1rem;
  scrollbar-width: thin;
  scrollbar-color: var(--primary-cta-color) transparent;
  overscroll-behavior-y: contain;
}
.text-box::-webkit-scrollbar {
  width: .25rem;
}
.text-box::-webkit-scrollbar-thumb {
  border-radius: 1rem;
  background-image: linear-gradient(to bottom, var(--primary-cta-color), var(--secondary-cta-color))
}

.cta {
  padding: .5rem 1rem;
  border-radius: .125rem;
  border: none;
  font-weight: 700;
  cursor: pointer;
  position: relative;
  background: transparent;
  transition: .2s;
  background-image: linear-gradient(to bottom right, var(--primary-color), var(--secondary-color));
}
.cta:hover {
  transition-delay: .225s;
  background-color: var(--secondary-color);
  scale: 1.1;
}
.cta:hover::before, .cta:hover::after {
  width: 100%;
  height: 100%;
  transition-delay: 0s;
}
.cta:hover::before {
  top: 0;
  left: 0;
}
.cta:hover::after {
  bottom: 0;
  right: 0;
}
.cta::before {
  content: '';
  position: absolute;
  width: 25%;
  height: 50%;
  top: -4%;
  left: -2%;
  border-radius: .125rem 0 0;
  border-top: .15rem solid var(--secondary-cta-color);
  border-left: .15rem solid var(--secondary-cta-color);
  transition: .3s cubic-bezier(.68,-0.55,.27,1.55);
  transition-delay: .25s;
}
.cta::after {
  content: '';
  position: absolute;
  width: 25%;
  height: 50%;
  bottom: -4%;
  right: -2%;
  border-radius: 0 0 .125rem;
  border-right: .15rem solid var(--primary-cta-color);
  border-bottom: .15rem solid var(--primary-cta-color);
  transition: .3s cubic-bezier(.68,-0.55,.27,1.55);
  transition-delay: .25s;
}
.cta.danger {
  cursor: pointer;
  background: red;
  color: var(--primary-color);
}
.cta.danger::before, .cta.danger::after {
  display: none;
}
.helper-button {
  display: flex;
  align-items: center;
  justify-content: center;
  cursor: pointer;
  background: radial-gradient(circle at 0 0, var(--primary-color), var(--secondary-color)) padding-box,
              linear-gradient(90deg, var(--primary-cta-color), var(--secondary-cta-color)) border-box;
  border: 2px solid transparent;
  border-radius: .3rem;
  padding: .25rem .5rem;
}
.helper-button svg {
  width: 1.5rem;
  fill: var(--secondary-cta-color);
}
.deletable {
  position: relative;
  cursor: pointer;
  overflow: hidden;
}
.deletable::after {
  content: '';
  position: absolute;
  left: 0;
  top: 0;
  width: 100%;
  height: 100%;
  background-color: rgba(255, 0, 0, 0.75);
  opacity: 0;
  transition: .2s;
}
.deletable:hover::after {
  opacity: 1;
}

.gradient-bg {
  background-image: url('../public/gradient-bg.webp');
  background-size: cover;
}
.gradient-text {
  background-image: url('../public/gradient-bg.webp');
  background-size: 100%;
  background-clip: text;
  color: transparent;
}
.gradient-border {
  background: linear-gradient(var(--primary-color), var(--primary-color)) padding-box,
  linear-gradient(to bottom right, var(--secondary-cta-color), var(--primary-cta-color)) border-box;
}
.domain {
  font-size: .9rem;
  padding: .25rem .5rem;
  border-radius: .25rem;
  text-align: center;
  word-wrap: break-word;
  text-decoration: none;
  font-weight: 700;
  background: url('../public/gradient-bg.webp');
  background-size: 100%;
  background-clip: text;
  color: transparent;
}
.open-tooltip-button {
  border: none;
  background-color: transparent;
  display: flex;
  align-items: center;
  justify-content: center;
  cursor: pointer;
}
.open-tooltip-button svg {
  width: 1.5rem;
  fill: var(--secondary-cta-color);
}
.not-found-hint {
  position: absolute;
  top: 50%;
  left: 50%;
  text-align: center;
  translate: -50% -50%;
}
.notification-button {
  background-color: transparent;
  border: none;
  display: flex;
  align-items: center;
  justify-content: center;
  cursor: pointer;
  position: relative;
}
.notification-button.unread::after {
  opacity: 1;
}
.notification-button::after {
  content: '';
  position: absolute;
  top: 0;
  right: 10%;
  width: .4rem;
  height: .4rem;
  background-color: var(--primary-cta-color);
  border-radius: 10rem;
  opacity: 0;
}
.notification-button svg {
  width: 1.25rem;
  fill: var(--secondary-cta-color)
}
.logout-button {
  font-weight: 700;
  background-color: var(--secondary-cta-color);
  border: none;
  width: 100%;
  color: var(--primary-color);
  border-radius: .25rem;
  padding: .25rem .75rem;
}
.logout-button:hover {
  background-color: red;
  cursor: pointer;
}
.hidden-input {
  display: none;
}
.show-more-button {
  all: unset;
  color: var(--primary-cta-color);
  font-size: .75rem;
  cursor: pointer;
  z-index: 5;
}


@keyframes fade-in {
	from {
		scale: .85;
		filter: blur(1rem)
	}
}

@keyframes fade-up {
	from {
		scale: .85;
    translate: 0 10%;
		filter: blur(1rem)
	}
}
@keyframes gradient-bg {
	0% {
		background-position: 0%;
	}
	50% {
		background-position: 100%;
	}
	100% {
		background-position: 0%;
	}
}
@keyframes animated-background {
  0% {
      background-position: 0%;
  }
  50% {
      background-position: 100%;
  }
  100% {
      background-position: 0%;
  }

  /* 0% {
      background-position: 0%;
  }
  100% {
      background-position: 100%;
  } */
}
@keyframes rotate-loader {
  0% {
    rotate: 0deg;
  }
  50% {
    scale: 1.1;
  }
  100% {
    rotate: 360deg;
    scale: 1;
  }
  /* 25% {
    rotate: 180deg;
  } */
  /* 50% {
    rotate: 360deg;
    scale: 1.05;
  } */
  /* 75% {
    rotate: 180deg;
    scale: 1;
  } */
}



@media screen and (max-width: 800px) {
  #website-page {
      margin: 0;
      padding-top: 6rem;
  }
}

@media screen and (max-width: 550px) {
  #website-page {
      padding-top: 5rem;
  }
  #account-page {
    padding-top: 1rem;
  }
}