#register-website-page {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    gap: 4rem;
    min-height: 100vh;
    padding: 2.5rem 0 0;
}
.website-image-section {
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 2.5rem;
}
.website-image-wrapper {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    border-radius: 1rem;
    border: 3px dashed var(--primary-cta-color);
    width: 14rem;
    height: 14rem;
    overflow: hidden;
}
.website-image-wrapper img {
    width: 100%;
    height: 100%;
    object-fit: cover;
}
#register-website-page form {
    width: 100%;
    max-width: 55rem;
    display: flex;
    justify-content: space-between;
}
.website-details-section {
    display: flex;
    flex-direction: column;
    justify-content: center;
    gap: 2.5rem;
}
.input-wrapper {
    width: 100%;
    gap: .75rem;
    display: flex;
    align-items: center;
    justify-content: space-between;
    position: relative;
}
.domains-wrapper {
    display: grid;
    grid-template-columns: repeat(auto-fill, minmax(7.5rem, 1fr));
    /* grid-auto-rows: 12rem; */
    align-items: center;
    gap: 1rem;
}
.domain-input, .admin-input {
    text-align: center;
    width: 10rem;
    padding: .5rem;
}
.admin-input {
    z-index: 5;
}
.users-wrapper {
    position: absolute;
    display: flex;
    flex-direction: column;
    background-image: linear-gradient(var(--primary-color), var(--secondary-color));
    bottom: 92%;
    width: 11rem;
    right: 0%;
    /* translate: -45.25% 0; */
    border-radius: .5rem .5rem 0 0;
    max-height: 20rem;
    overflow-x: hidden;
    scrollbar-color: transparent transparent;
    opacity: 0;
    pointer-events: none;
    /* padding: 1rem 0; */
}
.users-wrapper.visible {
    opacity: 1;
    pointer-events: all;
}

@media screen and (max-width: 600px) {
    #register-website-page {
        padding: 1rem 0;
    }
    #register-website-page form {
        flex-direction: column;
        gap: 3rem;
    }
    .website-image-section {
        gap: 1.5rem;
    }
    .website-details-section {
        gap: 1.5rem;
    }
}