.company-item {
    display: flex;
    flex-direction: column;
}
.company-item .company-image-wrapper {
    border: 1px dashed #979797;
    border-bottom: none;
    background-image: linear-gradient(to bottom right, #414141, #3a3a3a);
    /* background-image: linear-gradient(to right, var(--secondary-color), var(--tertiary-color)); */
    background-size: 200%;
    height: 75%;
    border-radius: .75rem .75rem 0 0;
    display: flex;
    align-items: center;
    justify-content: center;
}
.company-item .company-image {
    height: 90%;
}
.company-info {
    background-color: #242424;
    border: 1px solid #707070;
    border-top: none;
    height: 25%;
    text-align: center;
    display: flex;
    align-items: center;
    justify-content: center;
    border-radius: 0 0 .75rem .75rem;
}
.company-item .company-name {
    font-weight: 600;
}