.issue-item {
    display: flex;
    flex-direction: column;
    gap: .9rem;
    background-image: linear-gradient(to bottom right, var(--primary-color), var(--secondary-color));
    border: 1px solid rgba(255, 255, 255, 0.1);
    word-wrap: break-word;
    padding: .5rem .5rem 2.25rem .5rem;
    border-radius: .5rem;
    width: 100%;
    height: 100%;
    text-overflow: ellipsis;
    overflow-y: hidden;
    position: relative;
    cursor: pointer;
    transition: .2s cubic-bezier(0.5,-0.21, 0.55, 1.44);
    animation: fade-in .2s linear 1 forwards;
}
.issue-item:focus {
    scale: .95;
}
.issue-item:hover {
    translate: 0 -5%;
    box-shadow: 0 .5rem 1rem rgba(0, 0, 0, 0.4);
}
.issue-item:hover::before {
    opacity: 1;
}
.issue-item::before {
    content: '';
    position: absolute;
    background-image: radial-gradient(25rem circle at var(--mouse-x) var(--mouse-y), rgba(255, 255, 255, 0.05), transparent 40%);
    /* background-image: radial-gradient(5rem circle at var(--mouse-x) var(--mouse-y), white, black); */
    border-radius: inherit;
    height: 100%;
    width: 100%;
    left: 0;
    top: 0;
    z-index: 2;
    opacity: 0;
    transition: .5s;
}
.issue-website-name {
    font-weight: 600;
}
.issue-main {
    display: flex;
    flex-direction: column;
    gap: .45rem;
}
.issue-description {
    color: var(--secondary-text-color);
}
.issue-item .issue-creator {
    position: absolute;
    top: 5%;
    right: .5rem;
    text-decoration: none;
    cursor: pointer;
    z-index: 10;
    font-weight: 600;
}
#account-page .issue-creator {
    display: none;
}
.issue-item .issue-attests {
    position: absolute;
    left: .5rem;
    bottom: 5%;
}
.issue-item .status {
    width: .5rem;
    height: .5rem;
    position: absolute;
    bottom: .5rem;
    right: .5rem;
    border-radius: 10rem;
}
.issue-item .status.resolved {
    background-color: rgb(0, 128, 28);
}
.issue-item .status.pending {
    background-color: rgb(0, 107, 128);
}