.website-item {
    display: flex;
    flex-direction: column;
    height: 100%;
}
.website-item .website-image-wrapper {
    width: initial;
    border: 1px dashed #979797;
    border-bottom: none;
    background-image: linear-gradient(to bottom right, #414141, #3a3a3a);
    background-size: 200%;
    height: 78%;
    border-radius: .5rem .5rem 0 0;
    display: flex;
    align-items: center;
    justify-content: center;
}
.website-item .website-image {
    height: 100%;
    width: 100%;
    object-fit: cover;
}
.website-info {
    background-color: #242424;
    border: 1px solid #707070;
    border-top: none;
    height: 22%;
    text-align: center;
    display: flex;
    align-items: center;
    justify-content: center;
    border-radius: 0 0 .5rem .5rem;
}
.website-item .website-name {
    font-weight: 600;
}

@media screen and (max-width: 450px) {
    .website-item .website-image-wrapper {
        height: 80%;
    }
    .website-item .website-info {
        height: 20%;
    }
}