header {
    display: flex;
    align-items: center; 
    justify-content: space-between;
    padding: 1% 0;
    /* background-color: var(--secondary-color); */
}
.logo {
    color: black;
    text-decoration: none;
    font-family: 'Red Hat Text';
    font-weight: 700;
    font-size: 2rem;
    font-style: italic;
    letter-spacing: -4px;
    color: #677381;
}
nav {
    display: flex;
    align-items: center; 
    justify-content: flex-end;
}
.user {
    background-color: var(--primary-cta-color);
    display: flex;
    align-items: center;
    gap: .8rem;
    padding: .4rem 1rem;
    border-radius: .5rem;
    cursor: pointer;
    position: relative;
}
/* .user:hover {
    scale: 1.05;
} */
.profile-picture-div {
    width: 2.25rem;
    height: 2.25rem;
    border-radius: 10rem;
    overflow: hidden;
    border: 2px solid var(--primary-text-color);
}
.profile-picture {
    width: 100%;
    height: 100%;
    object-fit: cover;
}
.username {
    font-weight: 500;
    font-size: 1rem;
    /* color: var(--text-color); */
}

.user-modal {
    position: absolute;
    background-color: var(--secondary-color);
    min-width: 100%;
    top: 110%;
    left: 0;
    padding: .5rem;
    border-radius: .25rem;
    translate: 0 -15%;
    opacity: 0;
    pointer-events: none;
}
.user-modal.visible {
    translate: none;
    opacity: 1;
    pointer-events: all;
}
.user-link {
    text-decoration: none;
}
.logout-button {
    background-color: #82a0aa;
    border: none;
    width: 100%;
    color: #4b4a54;
}
.logout-button:hover {
    background-color: red;
    cursor: pointer;
}