header.hide-nav {
    display: none;
}
header {
    display: flex;
    align-items: center;
    justify-content: center;
    position: sticky; 
    top: 0;
    z-index: 100;
    background-color: rgba(0, 0, 0, 0.5);
    backdrop-filter: blur(8px);
}
.header-content {
    /* display: flex;
    justify-content: space-between;
    align-items: center;  */
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    justify-content: space-between;
    align-items: center;

    padding: .5rem 0;
    max-width: 75rem;
    width: 95%;
}
header .logo {
    color: black;
    text-decoration: none;
    font-family: 'Red Hat Text';
    font-weight: 700;
    font-size: 2rem;
    font-style: italic;
    letter-spacing: -4px;
    color: #677381;
}
header nav {
    display: flex;
    align-items: center; 
    justify-content: flex-end;
    border-radius: 5rem;
    background-color: var(--secondary-color);
    padding: .75rem 1.5rem;
    justify-self: center;
    gap: 1.75rem;
    position: relative;
    background-image: linear-gradient(to right, var(--secondary-color), var(--tertiary-color));
    background-size: 200%;
}
.navigation-link {
    text-decoration: none;
    color: var(--primary-text-color);
    display: flex;
    align-items: center;
    justify-content: center;
    position: relative;
}
.navigation-link:hover svg {
    scale: 1.05;
}
.navigation-link::after {
    content: '';
    position: absolute;
    top: 110%;
    left: 50%;
    translate: -50% -50%;
    height: 3px;
    width: 50%;
    border-radius: .25rem;
    background-color: var(--secondary-cta-color);
    opacity: 0;
    transition: .2s;
}
.navigation-link svg {
    width: 1.5rem;
    fill: rgba(255, 255, 255, 0.75);
}
.navigation-link.active-page {
    translate: 0 -10%;
    scale: 1.05;
}
.navigation-link.active-page::after {
    opacity: 1;
    translate: -45% 0;
}
.navigation-link.active-page svg {
    fill: var(--secondary-cta-color);
}
header .profile-picture-wrapper {
    display: flex;
    align-items: center;
    justify-content: center;
    width: 1.5rem;
    height: 1.5rem;
    border-radius: 10rem;
    overflow: hidden;
    translate: none;
    border: 2px solid transparent;
}
.navigation-link.active-page .profile-picture-wrapper {
    scale: 1.05;
}
header .profile-picture {
    width: 100%;
    height: 100%;
    object-fit: cover;
}
header .username {
    font-weight: 500;
    font-size: 1rem;
}
header .notification-section {
    position: relative;
    justify-self: flex-end;
    grid-column-start: 3;
    grid-column-end: 4;
}
header .notifications-wrapper {
    position: absolute;
    display: flex;
    flex-direction: column;
    top: 180%;
    left: 0;
    min-width: 20rem;
    translate: -90% 0;
    background-image: linear-gradient(to bottom right, var(--primary-color), var(--secondary-color));
    border-radius: .25rem;
    /* overflow-y: scroll; */
    overflow-x: hidden;
    scrollbar-color: var(--tertiary-color) var(--primary-color);
    scrollbar-width: thin;
    max-height: 20rem;
    /* padding: .75rem 0; */
    opacity: 0;
    pointer-events: none;
}
header .notifications-wrapper::-webkit-scrollbar {
    width: .5rem;
}
header .notifications-wrapper::-webkit-scrollbar-thumb {
    background-color: var(--tertiary-color);
}
header .notifications-wrapper::-webkit-scrollbar-track {
    background-color: var(--primary-color);
}
header .notifications-wrapper.visible {
    opacity: 1;
    pointer-events: all;
}
header .notifications-wrapper a {
    text-decoration: none;
}
.no-notifications-hint {
    font-size: clamp(.8rem, 2vw, .9rem);
    text-align: center;
    padding: 1rem 0;
}

@media screen and (max-width: 800px) {
    header nav {
        display: none;
    }
    /* header .username {
        display: none;
    } */
    header .notifications-wrapper {
        translate: -92.5% 0;
    }
}