.attest-wrapper {
    margin: 1rem 0 0;
    width: min-content;
    display: flex;
    flex-direction: column;
    align-items: center;
}
.attest-button {
    display: flex;
    align-items: center;
    justify-content: center;
    width: 2.5rem;
    border: none;
    background-color: transparent;
    font-size: 1.25rem;
    cursor: pointer;
}
.attest-button svg {
    fill: var(--secondary-cta-color);
}