#issue-list-page {
    padding-top: 2rem;
    padding-bottom: 2rem;
}
#issue-list-page a {
    text-decoration: none;
}
.issue-grid {
    display: grid;
    width: 100%;
    grid-template-columns: repeat(auto-fill, minmax(18rem, 1fr));
    padding: 0 .5rem; 
    align-items: flex-start;
    justify-content: center;
    /* grid-template-columns: repeat(auto-fill, 22rem);
    grid-auto-rows: 10px;
    justify-content: center; */
    gap: 1.5rem;
}
.issue-grid .issue {
    width: 100%;
    cursor: pointer;
    animation: fade-up .2s linear 1 forwards;
}
.issue-grid .issue .issue-name {
    max-width: 50%;
    word-wrap: break-word;
    font-size: clamp(1rem, 1.3vw, 1.5rem);
}
#issue-list-page .issue .tooltip-section, #issue-list-page .issue .delete-modal, #issue-list-page .issue-status, #issue-list-page .issue .link{
    display: none;
}
#issue-list-page .issue-screenshot-wrapper {
    height: 15rem;
}
#issue-list-page .image-skeleton {
    height: 15rem;
}
#issue-list-page .issue-description {
    word-wrap: break-word;
}
#issue-list-page .issue .issue-time {
    display: none;
}